
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('./Assets/Images/Background.jpg');
    background-size: cover;
    background-position: center;
}
/* Nav Bar */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #fccd4c;
    color: #fff;
  }
  .topnav-right {
    float: right;
  }
  .topnav-right a:hover{
      text-decoration: underline;
  }
  /* Card  */
  .card{
      margin-top: 35px;
      /* opacity: .5; */
  }
 